[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "dist/jaren-portfolio/browser"

[[redirects]]
  from = "/api/github"
  to = "https://github.com/users/jarenkendrick14/contributions"
  status = 200